<h1>Flight Search</h1>

<div class="row card">
  <form>

    <div class="form-group">
      <label>From:</label>
      <input
        [(ngModel)]="from"
        class="form-control"
        name="from">

    </div>
    <div class="form-group">
      <label>To:</label>
      <input
        [(ngModel)]="to"
        name="to"
        class="form-control">
    </div>
    <div class="form-group">
      <button
        (click)="search()"
        [disabled]="!from || !to"
        class="btn btn-default">Search</button>
    </div>
  </form>

</div>

<div class="row card" *ngIf="flights.length > 0">

  <table class="table table-condensed">
    <tr *ngFor="let f of flights" [ngClass]="{ 'active': f === selectedFlight }">
      <td>{{f.id}}</td>
      <td>{{f.from | city:'short' }}</td>
      <td>{{f.to | city:'long' }}</td>
      <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
      <td><a (click)="select(f)">Select</a></td>
    </tr>
  </table>
</div>

<div class="row card">
  <pre>{{selectedFlight | json}}</pre>
</div>

