<h1>Flight Search</h1>

<div class="row card">
  <form [formGroup]="form">

    <div class="form-group">
      <label>From:</label>
      <input
        formControlName="from"
        class="form-control">
      <div *ngIf="!form.controls['from'].valid">
        ... Error ...
      </div>
      <div *ngIf="form.controls['from'].hasError('required')">
        ... Requied ...
      </div>
      <div *ngIf="!form.controls['from'].valid">
        <pre>{{ form.controls['from'].errors | json }}</pre>
      </div>

    </div>
    <div class="form-group">
      <label>To:</label>
      <input
        formControlName="to"
        class="form-control">
    </div>
    <div class="form-group">
      <button
        (click)="search()"
        [disabled]="form.invalid"
        class="btn btn-default">Search</button>
    </div>
  </form>

</div>

<div class="row">
  <div *ngFor="let f of flights" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <flight-card
      [item]="f"
      [(selected)]="basket[f.id]">
    </flight-card>
  </div>
</div>
<!--
<div class="row card" *ngIf="flights.length > 0">

  <table class="table table-condensed">
    <tr *ngFor="let f of flights" [ngClass]="{ 'active': f === selectedFlight }">
      <td>{{f.id}}</td>
      <td>{{f.from | city:'short' }}</td>
      <td>{{f.to | city:'long' }}</td>
      <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
      <td><a (click)="select(f)">Select</a></td>
    </tr>
  </table>
</div>
-->

<div class="row card">
  <pre>{{basket | json}}</pre>
</div>

